* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #FE73A8;
}

  /* Set the body and html to full height */
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Set the image overlay to full height and width */
  .image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("assets/challenge_vulvatar/Estrellas.png");
    background-size: cover;
    background-position: center;
  }
  
  /* Set the page content to be behind the image overlay */
  .page-content {
    position: relative;
    z-index: 0;
  }

.img-responsive {
  max-width: 100%;
  height: auto;
}
.section {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.white {
  color: #FFFFFF;
}
.red {
  color: #ed0000;
}
.main-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 13pt;
  line-height: 15px;
  text-transform: uppercase;
}
.body_obra {
  width: 383px;
}
.challenge-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
  line-height: 12px;
}
.bold {
  font-weight: 500;
}
.participate_here {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 13pt;
  line-height: 1.5;
  text-transform: uppercase;
  color: #6c57ce;
}
.step {
  float: left;
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}
.number {
  float: left;
  width: 10%;
}
.step-text {
  float: left;
  width: 90%;
  color: #FFF;
  margin-top: 24px;
}
.step-text {
   font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 9pt;
  line-height: 1.33;
}
.number {
    font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40pt;
  line-height: 1.2;
  color: #ed0000;
}
.body_merch {
  width: 818px;
}
.normalize_tab {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 13pt;
  line-height: 1.5;
  text-transform: uppercase;
}
.encourage_challenge {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 10pt;
  line-height: 1.2;
  color: #6c57ce;
}
.button {
      background-color: #ed0000;
    border-radius: 25px;
    border: 1px solid #ed0000;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    /*font-family: 'Montserrat Black', sans-serif;*/
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.button_container {

}
.vive_sin_tabu_image {
  width: 698px;
}

.container-bayer {
  float: left;

}
.main-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-text-disclaimer {
  float: left;
  width: 70%;
  margin-left: 21px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 4pt;
  line-height: 5px;
  margin-top: 35px;
}

#logo-bayer {
  width: 92px;
  height: 92px;
}